* {
    background-color: #5499C7;
    color: black;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    padding: 2em;
    border-bottom: solid 2px black; 
}

button {
    background-color:  #4CB7FB;
    color: white;
    padding: .5em;
    border-radius: 8px;
    font-size: large;
}

.containers {
    background-color: white;
    padding: 2em;
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 8px;
}

.light {
    background-color: white;
}

button:hover {
    color: black;
    opacity: 70%;
}

#start-game {
    font-size: large;
}

#gameContainer {
    /* display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;
    background-color: #E6B0AA;
    background-color: #F2F3F4;
    background-color: white; */
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

#word-container {
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 4;
    grid-row: 1;
    background-color: white;
    border: solid 2px black;
    border-radius: 8px;
    margin: 2em 3em 0em;
    
}

#game-status {
    /* border-left: solid 2px black; */
    /* padding: 3em 2em; */
    /* width: 37%;
    background-color: white; */
    grid-column: 4;
    grid-row: 1;
}

#stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em 2em;
}

#timer-section {
    display: flex;
    flex-direction: column;
    /* padding: 3em 2em; */
    padding: 0em 1em;
    align-items: center;
    font-size: 1.5em;
}

#timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#stats p {
    font-size: 1.5em;
    margin-top: 0;
    font-weight: bold;
    background-color: white;
}

#timer-section p {
    margin-top: 0;
    font-weight: bold;
}

.warning {
    color: red;
}