* {
    background-color: white;
    color: black;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    padding: 2em;
    border-bottom: solid 4px black;
}

button {
    background-color:  #4CB7FB;
    padding: .5em;
    border-radius: 8px;
}

button:hover {
    color: white;
    opacity: 70%;
}

#start-game {
    font-size: large;
}

#gameContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

#word-container {
    margin: 0 auto;
}

#game-status {
    border-left: solid 4px black;
    padding: 3em 2em;
    width: 25%;
}

#stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#timer-section {
    display: flex;
    flex-direction: column;
    padding: 2em;
    align-items: center;
    font-size: 2em;
}
